In [15]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print('Libraries imported.')

Libraries imported.

In [17]:
#Import data in the format created at the end of the last exercise and set index as the PostCode column
final_df = pd.read_csv('FSA_Data_formatted.csv').set_index('Postcode')
final_df.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Rouge Hill,Highland Creek,Port Union
M1E       Scarborough       Morningside,Guildwood,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [18]:
#Import coordinates for the post codes, Geocoder package was giving a lot of problems
toronto_geocsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv
#Set the Post codes as an index, which will be helpful in joining the two dataframes
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [19]:
#Join thw two data frames to get the final result
toronto_neighborhoods = final_df.join(geocsv_data)
toronto_neighborhoods.head()

,Borough,Neighbourhood,Latitude,Longitude
Postcode,,,,
M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
M1C,Scarborough,"Rouge Hill,Highland Creek,Port Union",43.784535,-79.160497
M1E,Scarborough,"Morningside,Guildwood,West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [24]:
#Reset index
toronto_neighborhoods = toronto_neighborhoods.reset_index()
toronto_neighborhoods.shape

(103, 6)

In [26]:
#Export data into a new CSV file for next steps
toronto_neighborhoods.to_csv('Toronto_Neighbourhood.csv', index = False)